# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter auto checkpoint
.ipynb_checkpoints/

# Ignore large model weights
*.pt
*.pth

# Ignore compressed downloads (but NOT raw txt/tsv)
*.gz
*.zip
*.tar
*.tar.gz
